@reference "tailwindcss";

.card{
    @apply p-[1.5rem] border border-gray-200 rounded-xl flex gap-[1rem] flex-col my-[3rem]
}
.card-title{
   @apply flex gap-2 items-center
  
}
.card-title p{
    @apply  text-base font-semibold mb-0;
     color:var(--card-header);
}
.card-body{
    @apply flex flex-col gap-[1rem];
     color:var(--card-desc);
}

.card-description{
    @apply text-sm ;
    line-height:1.4rem;
     color:var(--card-desc);

}
.input-container{
    @apply flex items-center justify-between gap-[1.5rem]
}
.input{
    @apply px-3 py-1 rounded-md  w-full border border-gray-200 text-base
}

.join-btn{
    @apply px-4 py-1 bg-black text-white rounded-md text-base
}